
body {
  background-color: rgb(226, 189, 140);
text-align: center;
display: flex;
}
#results{
flex-direction: flex-start;
}
.memory-board { 
  margin-top:25px;
  width: 800px;
  height: 300px;
  margin: 70px auto;
  justify-content: center;
  box-shadow: 0 0 0 2px white;
  font-size: 10px;
  cursor: pointer;
  justify-content: center;
} 
