
body {
background-image: radial-gradient(rgb(17, 16, 16) , rgb(69, 69, 209));
text-align: center;
color: white;
}
html{
  min-height: 100vh;
}
ul {
  list-style: none;
}
h2{
  color:white;
  font-family: Arial;
}
.memory-board { 
  margin-top:100px;
  width: 800px;
  height: 500px;
  margin: 70px auto;
  cursor: pointer;
} 
